@import "_variables.scss";
@import "_mixins.scss";

.nav-setting-wrapper {
    padding: 8px;
    width: 240px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @include sm-down{
        padding: unset;
        width: 100%;
        background-color: unset;
        box-shadow: none;
    }

    .nav-setting {
        &__item {
            padding: 8px 0;

            a {
                display: block;
                padding: 8px 16px;

            }

            &:hover {
                background-color: $gray-2;
            }
        }
    }

    .divider{
        margin: 8px 16px;
    }

    .sign-out-btn{
        display: block;
        padding: 16px 16px;

        &:hover {
            background-color: $gray-2;
        }
    }
}