.home-container{
    width: 100%;
    display: flex;
    gap: 40px;

    .main-section{
        flex: 1 1 auto;

        margin: 0 auto;
        padding: 0 16px;
        width: 100%;    
        max-width: 680px;
    }

    .route-list-wrapper{
        margin-top: 40px;

        .route {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

