@import './_variables';
@import './_mixins';

.navbar-wrapper {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    background-color: #fff;
    
    z-index: 999;

    .navbar {
        width: 100%;
        height: $nav-bar-h;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 64px;

        @include lg-down {
            padding: 0 16px;
        }

        @include sm-down{
            height: $nav-bar-h--sm;
        }

        &__left {
            position: relative;

            .main-logo{
                display: block;
            }
        }

        &__right {
            &-container {
                display: flex;
                gap: 16px;
            }
        }

        &__menu-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;

            cursor: pointer;
        }
    }
}