@import "_mixins.scss";

.route-card {
    display: flex;
    justify-content: space-between;

    &__left {
        width: 100%;
        max-width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .route-name {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .route-title {
                @include text-headline-3;
            }

            .route-subtitle {
                color: $text-secondary;
            }
        }

        .route-duration {
            display: flex;
            justify-content: space-between;

            max-width: 50%;

            .route-time {
                @include text-headline-4;
                font-weight: 600;

                // &::after{
                //     padding-left: 4px;
                // }

                // &--start {
                //     &:after{
                //         content: "Sáng";
                //     }
                // }

                // &--end {
                //     &:after{
                //         content: "Chiều";
                //     }
                // }
            }
        }
    }

    &__right {
        align-items: flex-end;

        width: 100%;
        max-width: 20%;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .route-price {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            .price {
                @include text-headline-4;
                font-size: 600;
            }
        }

    }

    &-divider {
        display: block;
        width: 1px;

        background-color: rgba($color: #000000, $alpha: 0.2);
    }
}