@import "_mixins.scss";

.chekout-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 0 16px;

    @include lg-down {
        flex-direction: column;
    }

    &__left {
        width: 100%;
        max-width: 480px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        @include lg-down {
            max-width: none;
        }
    }

    &__right {
        width: 100%;
        max-width: 580px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        @include lg-down {
            max-width: none;
        }
    }

    .info-container {
        padding: 32px 24px;

        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .heading {
            @include text-headline-3;
            margin-bottom: 24px;
        }

    }

    .options-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .route-info-card {
        height: fit-content;
        width: 100%;

        @include lg-down {
            max-width: none;
        }

        .route-info {
            margin-top: 32px;

            &__item {

                display: flex;
                justify-content: space-between;

                @include sm-down {
                    flex-direction: column;
                }

                &:not(:first-child) {
                    margin-top: 16px;
                    padding-top: 8px;
                }

                &-title {}

                &-value {
                    font-weight: 600;

                    @include sm-down {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .payment-card {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 32px;

        @include lg-down {
            max-width: none;
        }

        .payment-method-checkbox {
            margin-top: 24px;
        }

        .payment-info {
            // margin-top: 24px;

            &__item {

                display: flex;
                justify-content: space-between;

                &:not(:first-child) {
                    margin-top: 4px;
                    padding-top: 12px;
                }

                &-title {}

                &-value {}

                &--total {
                    margin-top: 8px !important;

                    font-weight: 600;
                    font-size: 18px;

                }
            }
        }
    }


}