@import "_mixins.scss";
@import "_variables.scss";

.nav-wrapper {

    display: flex;
    align-items: center;
    gap: 32px;

    .nav-user {
        position: relative;
        padding: 8px;

        .greeting {
            margin-right: 8px;
            font-size: 14px;

            @include sm-down {
                display: none;
            }

        }

        .nav-setting-container {
            position: absolute;

            top: 100%;
            right: 0;

            opacity: 0;
            visibility: hidden;

            transition: all .25s ease-in-out;

            @include sm-down{
                position: relative;

                opacity: 1;
                visibility: visible;
            }
        }

        &:hover {
            .nav-setting-container {
                opacity: 1;
                visibility: visible;
            }
        }

        @include sm-down{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: unset;
        }

    }
}