.profile-container {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
    padding: 0 16px;
}

.main-wrapper {
    margin-top: 32px;

    display: flex;
    justify-content: center;
    gap: 40px;
}