@import "_mixins.scss";

.ticket-detail {
    width: 100%;

    &__code {
        display: flex;
        justify-content: center;
    }

    &__info {
        margin: 16px 0;

        &-item {
            display: flex;
            justify-content: space-between;

            @include sm-down {
                flex-direction: column;
            }

            &:not(:first-child) {
                padding-top: 8px;
            }

            &-title {
                flex-basis: 40%;
                margin-bottom: 4px;
            }

            &-value {
                flex-basis: 60%;
                text-align: end;
                font-weight: 600;

                @include sm-down {
                    text-align: start;
                }
            }
        }
    }

    &__notify {
        margin-top: 16px;
        display: block;
        text-align: center;
    }
}