$nav-bar-h: 80px;


$bg-sidebar: #161616;
$bg-black: #000000;

$body-bg : #F5F5F5;
$color-primary: #78BBE0;
$color-secondary: #58503F;

$color-text-base: #D3D3D3;

$gray-2: #fafafa;

$font-base: 16px;
$font-sm: 14px;
$font-headline-4: 34.53px;
$font-headline-1: 40px;